@font-face { font-family: roboto-regular; 
			 src: url('../font/Inconsolata.otf'); } 
@media all
{
    body {
        /*font-family: "Times New Roman", Times, serif !important;*/
        font-family: inconsolata;
        /*font-size: 18px;*/
        line-height: 21px;
        max-width: 960px;
        margin: auto;
    }
}
